.codemain {
  margin: 3vh;
  width: 80vh;
  height: auto;
}
.codemaintext {
  white-space: pre-wrap;
}
.back-icon{
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .codemain {
    width: 100%;
    margin: 0;
  }
  .codemain h3 {
    text-align: center;
    margin-top: 30px;
  }
  .codemain .codemaintext {
    text-align: center;
  }
}
