.main {
  align-items: flex-start;
  margin: 50px;
  /* border: 1px dotted rgb(235, 222, 222); */
  min-height: 80vh;
}
.header {
  text-align: center;
  margin-top: 30px;
}
.container {
  margin: 20px;
  flex-wrap: wrap;
  display: flex;
}

a {
  text-decoration: none;
}
.notfoundheader {
  text-align: center;
  color: #2647a3;
  cursor: pointer;
}

.codemain {
  margin: 3vh;
  width: 80vh;
  height: auto;
}
.codemaintext {
  white-space: pre-wrap;
  text-align: center;
}
.back-icon {
  margin: 10px;
  margin-left: 3vh;
}
.ui {
  margin: 3vh;
}
.ui input {
  padding: 9px;
  margin-right: 10px;
}
.ui button {
  padding: 9px;
  border: 1px solid rgb(70, 110, 223);
  color: rgb(70, 110, 223);
  background-color: white;
  cursor: pointer;
}
.ui p {
  font-size: 14px;
}
.layout {
  margin-top: 10vh;
}

.card-root {
  min-width: 100px;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  transition: 0.15s all;
  padding: 10px;
  cursor: pointer;

}

.card-root:hover {
  box-shadow: 0px 20px 40px -15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.mainItem {
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500px;
  color: #002140;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .main {
    margin: 0px;
  }
  .layout {
    min-height: 10vh;
  }
  /* For mobile phones: */
  .codemain {
    width: 100%;
    margin: 0;
  }
  .codemain h3 {
    text-align: center;
    margin-top: 30px;
  }
  .codemain .codemaintext {
    text-align: center;
  }
}