.main {
  align-items: flex-start;
  margin: 50px;
  /* border: 1px dotted rgb(235, 222, 222); */
  min-height: 80vh;
}
.header {
  text-align: center;
  margin-top: 30px;
}
.container {
  margin: 20px;
  flex-wrap: wrap;
  display: flex;
}
.mainItem {
  padding: 15px;
  /* min-width: 100px; */
  margin-left: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  border: 1px solid #002140;
  background: rgb(248, 248, 248);
  font-size: 14px;
  font-weight: 500px;
  color: #002140;
}
a {
  text-decoration: none;
}
.notfoundheader {
  text-align: center;
  color: #2647a3;
  cursor: pointer;
}

.codemain {
  margin: 3vh;
  width: 80vh;
  height: auto;
}
.codemaintext {
  white-space: pre-wrap;
  text-align: center;
}
.back-icon {
  margin: 10px;
  margin-left: 3vh;
}
.ui {
  margin: 3vh;
}
.ui input {
  padding: 9px;
  margin-right: 10px;
}
.ui button {
  padding: 9px;
  border: 1px solid rgb(70, 110, 223);
  color: rgb(70, 110, 223);
  background-color: white;
  cursor: pointer;
}
.ui p {
  font-size: 14px;
}
.layout {
  margin-top: 10vh;
}
@media only screen and (max-width: 768px) {
  .main {
    margin: 0px;
  }
  .layout{
    min-height: 10vh;
  }
  /* For mobile phones: */
  .codemain {
    width: 100%;
    margin: 0;
  }
  .codemain h3 {
    text-align: center;
    margin-top: 30px;
  }
  .codemain .codemaintext {
    text-align: center;
  }
}

/* 
@media (min-width: 480px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1201px) {
  .layout {
    max-width: 100%;
  }
} */
