.main {
  align-items: flex-start;
  margin: 50px;
  /* border: 1px dotted rgb(235, 222, 222); */
  min-height: 80vh;
}
.header {
  text-align: center;
  margin-top: 30px;
}
.container {
  margin: 20px;
  flex-wrap: wrap;
  display: flex;
}
.mainItem {
  padding: 20px;
  min-width: 100px;
  margin-left: 30px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.notfoundheader {
  text-align: center;
  color: #2647a3;
  cursor: pointer;
}

.layout {
  min-height: 100vh;
}
/* 
@media (min-width: 480px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .layout {
    max-width: 100%;
  }
}
@media (min-width: 1201px) {
  .layout {
    max-width: 100%;
  }
} */
